body{
background-color: paleturquoise;
}

.animal{
    margin: 10px;
   
}

#gifs{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin: 10px;
    
}
.form-group{
    float: right;
    width: 30vw;
}
.image{
    margin: 10px;
}